*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* acá tengo estilos generales*/

.imagen-container{
    display: flex;
}

.imagen-container img {
    width: 100%;
}

/* acá siguen los estilos del header*/


header{
    background: #020e42;
    padding: 10px 50px;
    display: grid;
}

#logo {
    justify-self: end;
    width: 50px;
}

#logo img{
    border-radius: 100%;
    border: 2px solid #ffffff;
  }
/* acá estan los estilos del hero*/
#hero{
    position: relative;
}
#hero #computadora {
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #ffffff;
    padding: 0px 150px;
}

#hero .informacion-contenedor #foto{
    width: 200;
}

#hero .informacion-contenedor #foto img{
    border-radius: 100%;
}

#hero .informacion-contenedor .informacion{
    margin-left: 50px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .informacion-contenedor .informacion span{
    display: inline-block;
    color: rgb(168, 168, 168);
    margin-bottom: 4px;
}
/* estilo del main */
main{
    padding: 25px;
}

main .social-icons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    list-style: none;
    height: 50px;
}

main .social-icons li{
    margin: 0px 5px;
}

main .social-icons .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #LindedIn{
      background: #0082fc;
      
}

main .social-icons #GitLab{
    background: #ff5f02;

}

main .social-icons #Platzi{
    background: #46f800;
}

main .social-icons #LindedIn img{
    width: 40px;
    height: 40px;
    
}

main .social-icons #GitLab img{
  width: 40px;
  height: 40px;
}

main .social-icons #Platzi img{
  width: 40px;
  height: 40px;
}